# Copy this file to .env and fill in your actual values.
# DO NOT COMMIT YOUR ACTUAL VALUES IN .env

# PostgreSQL
POSTGRES_DB=music_platform_db
POSTGRES_USER=music_user
POSTGRES_PASSWORD= # Or <your_db_password>

# Django
DJANGO_SECRET_KEY= # Or <your_django_secret_key> - Generate a secure one!
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1

# Celery/Redis URLs are often derived from service names in Docker Compose
# Or you might explicitly list them here if configured differently:
# CELERY_BROKER_URL=redis://redis:6379/0
# CELERY_RESULT_BACKEND=redis://redis:6379/0

# Frontend API URL (VITE_API_URL is set in docker-compose, so maybe not needed here,
# but good to document if it were configured differently)
# VITE_API_URL=http://localhost:8000/api

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=AUVV12jf012zbXQzhXPh9wpPtBP23npg0oBI3_hyuz-KZjirWm0M_uzS8IiX5did0tJ08g3QnII7M7vC
PAYPAL_CLIENT_SECRET=YOUR_COPIED_SECRET_KEY_HERE
# PAYPAL_WEBHOOK_ID= (Leave this blank for now, we'll get it later)
FRONTEND_URL=http://localhost:5341